.tasks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.task{
    background-color: rgb(58, 58, 58);
    color: white;
    font-family: "Newsreader", sans-serif;

    border-radius: 5px;
    width: 200px;

    text-align: center;
}

.task_modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: fixed;
    z-index: 9999;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;

    opacity: 0;
}
.task_modal input{
    width: 300px;
    height: 30px;
}
.task_modal button{
    width: 100px;
    height: 50px;
}