body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;

    font-family: "Newsreader", sans-serif;
    font-weight: 100;
}

.container{
    display: flex;

    height: 500px;
    width: 900px;

    background-color: rgb(240, 240, 240);
    border-radius: 10px;

    justify-content: center;
    align-items: center;
    text-align: center;

    gap: 40px;
}

.signup{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    width: 400px;
    height: 480px;
    background-image: linear-gradient(to bottom, rgb(197, 220, 236), white, white);
    border-radius: 10px;

    z-index: 9999;
}
.signup h1{
    text-shadow: 3px 3px 20px rgb(110, 152, 142);
}
.signup input{
    width: 150px;
    height: 20px;

    font-family: "Newsreader", sans-serif;
}
.signup button{
    width: 150px;
    height: 25px;

    background-color: rgb(31, 31, 31);
    color: white;
    font-family: "Newsreader", sans-serif;
    border-radius: 10px;
    border-style: none;

    box-shadow: 0px 0px 0px rgb(172, 234, 232);
    transition: 0.2s;
}
.signup button:hover{
    box-shadow: 5px 5px 30px rgb(22, 27, 29);
}

.login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    width: 400px;
    height: 480px;
    background-image: linear-gradient(to bottom, rgb(198, 236, 197), white, white);
    border-radius: 10px;

    opacity: 0;
    transform: translateY(-200px);

    z-index: 9999;
}
.login h1{
    text-shadow: 3px 3px 20px rgb(110, 152, 142);
}
.login input{
    width: 150px;
    height: 20px;

    font-family: "Newsreader", sans-serif;
}
.login button{
    width: 150px;
    height: 25px;

    background-color: rgb(31, 31, 31);
    color: white;
    font-family: "Newsreader", sans-serif;
    border-radius: 10px;
    border-style: none;

    box-shadow: 0px 0px 0px rgb(172, 234, 232);
    transition: 0.2s;
}
.login button:hover{
    box-shadow: 5px 5px 30px rgb(22, 27, 29);
}

.signup img{
    width: 30px;
    height: auto;
}

.login img{
    width: 30px;
    height: auto;
}