<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Teapot Login</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='fonts.css') }}">
    </head>
    <body>
        <div class="signup">
            <h1>Create Account</h1>
            <h6 style="color: grey; display: flex; padding-top: -30px; width: 300px; text-align: center;">Welcome to Teapot! Make a unique username and a strong password to begin.</h6>
            <h3 style="color: rgb(52, 52, 52); display: flex; padding-top: -30px; text-align: center;">Already have an account?</h3>
            <button style="text-align: center; background-color: rgb(113, 185, 111);" onclick="toLogin()">Log in</button>

            <br>

            <form method="POST">
                <h6 style="color: red;">{{error}}</h6>

                <input id="user" type="text" name="signup_user" placeholder="Username">

                <br>
                <br>

                <input id="signup_pass" type="password" name="signup_pass" placeholder="Password">
                <br>
                <img src="{{ url_for('static', filename='Img/view.png') }}" onclick="showPass('signup_pass', 'signup_toggle')" id="signup_toggle">

                <br>
                <br>
                <br>

                <button type="submit">Submit</button>
            </form>
            
        </div>

        <div class="login">
            <h1>Login</h1>
            <h6 style="color: grey; display: flex; padding-top: -30px; text-align: center;">Log-in to your pre-existing Teapot account.</h6>
            <h3 style="color: rgb(52, 52, 52); display: flex; padding-top: -30px; text-align: center;">Don't have an account?</h3>
            <button style="text-align: center; background-color: rgb(106, 106, 228);" onclick="toSignup()">Sign up</button>

            <br>

            <form method="POST" onsubmit="save_info(event)" id="login_form">
                <h6 style="color: red;">{{error}}</h6>

                <input id="login_user" type="text" name="login_user" placeholder="Username">

                <br>
                <br>

                <input id="login_pass" type="password" name="login_pass" placeholder="Password">
                <br>
                <img src="{{ url_for('static', filename='Img/view.png') }}" onclick="showPass('login_pass', 'login_toggle')" id="login_toggle">

                <br>
                <br>
                <br>

                <button type="submit">Submit</button>
            </form>
        </div>


        <script src="{{ url_for('static', filename='gsap/gsap.min.js') }}"></script>

        <script>
            function save_info(e){
                e.preventDefault();

                localStorage.setItem("username", document.getElementById("login_user").value);
                localStorage.setItem("password", document.getElementById("login_pass").value);

                window.location.href = "/home"
            }

            window.addEventListener("DOMContentLoaded", () => {
                const gotuser = localStorage.getItem("username");
                const gotpass = localStorage.getItem("password");

                if (gotuser != "" && gotpass != ""){
                    document.getElementById("login_user").value = gotuser;
                    document.getElementById("login_pass").value = gotpass;

                    document.getElementById("login_form").submit();
                }
            })
        </script>

        <script>
            function showPass(element, parent){
                passW = document.getElementById(element);
                par = document.getElementById(parent);
                if (passW.type === "password"){
                    passW.type = "text";
                    par.src = "{{ url_for('static', filename='img/hide.png') }}"
                }
                else{
                    passW.type = "password";
                    par.src = "{{ url_for('static', filename='img/view.png') }}"
                }
            }
        </script>

        <!-- * animations here -->
        <script>
            let login_tl = gsap.timeline();
            let signup_tl = gsap.timeline();

            function toLogin(){
                gsap.to(".signup", {
                    y: 200,
                    opacity: 0,
                    duration: 0.3
                })

                login_tl.to(".login", {
                    y: 0,
                    opacity: 1,
                    duration: 0.3
                })
            }

            function toSignup(){
                gsap.to(".signup", {
                    y: 0,
                    opacity: 1,
                    duration: 0.3
                })

                signup_tl.to(".login", {
                    y: -200,
                    opacity: 0,
                    duration: 0.3
                })
            }
        </script>
    </body>
</html>